<ngx-dashboard-header title='班课管理/课程信息/课程签到'></ngx-dashboard-header>

<nb-card accent='primary'>
  <nb-card-header>
    已签到数/全部学生数: {{ originalAnwserList?.length || 0 }} / {{ course.students.length }}
  </nb-card-header>

  <nb-card-body>
    <div class="course-info">
      <div class="course-type-field">课程名称</div>
      <div class="course-type-value">{{ course.courseName }}</div>
      <div class="course-type-field">签到类型</div>
      <div class="course-type-value">{{ checkin["getType"] && checkin["getType"]() }}</div>
      <div class="course-type-field">签到开始时间</div>
      <div class="course-type-value">{{ checkin.releaseDate && checkin.releaseDate.toLocaleString() }}</div>
      <div class="course-type-field">签到截至时间</div>
      <div class="course-type-value">{{ checkin.deadline && checkin.deadline.toLocaleString() }}</div>
      <div class="course-type-field">签到数据</div>
      <div class="course-type-value">{{ checkin.jsonData }}</div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <app-search-bar (searchinput)='onsearchinput($event)' (searchenter)='onsearchenter($event)'></app-search-bar>
  </nb-card-footer>
</nb-card>

<nb-card status='primary'>
  <nb-card-header><span>签到列表</span><span *ngIf='issuper'>(管理员)</span></nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class='property-name checkin'>
        <div class="student">
          签到学生
        </div>
        <div class="datetime">
          签到时间
        </div>
        <div class="data">
          签到数据
        </div>
        <div class="buttons"></div>
      </nb-list-item>
      <nb-list-item *ngFor='let checkin of anwserList | paginate: {
          itemsPerPage: pagesize,
          currentPage: pageno,
          totalItems: total
        }' class='checkin'>
        <div class="student">
          {{ checkin.studentInfo.name || checkin.studentInfo.userName }}
        </div>
        <div class="datetime">
          {{ checkin.checkinDate }}
        </div>
        <div class="data">
          {{ checkin.checkinJsonData }}
        </div>
        <div class="buttons">
          <div class="take-space"></div>
          <button disabled='true' nbButton status='primary' hero>查看</button>
        </div>
      </nb-list-item>
    </nb-list>

    <div class="pager">
      <pagination-controls 
        (pageChange)="pageno = $event"
        previousLabel="上一页"
        nextLabel="下一页"></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>

