@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@import 'src/app/@theme/styles/themes';

@mixin GridKVTable2($container, $key, $value) {
    #{$container} {
        display: grid;
        grid-template-columns: 5.5em 45% 5.5em 45%;
        grid-row-gap: 1em;

        @media (max-width: 800px) {
            grid-template-columns: 30% 70%;

            #{$value} {
                width: 100% !important;
            }
        }

        #{$key} {
            padding-left: 1em;
            align-self: center;
        }

        #{$value} {
            height: 3em;
            line-height: 3em;
            width: 80%;
            color: gray;
        }

        .required:before {
            content: '*';
            color: red;
            position: absolute;
            transform: translate(-0.8em, 0em);
        }
    }
}

