<ngx-dashboard-header title='添加班课' #header></ngx-dashboard-header>

<nb-card accent='primary'>
  <nb-card-body>
    <div class="block">
      <div class="key required">课程名</div>
      <div class="value">
        <input type="text" nbInput fullWidth [(ngModel)]="course.courseName" shape="rectangle" placeholder="课程名, 至少两个字符">
      </div>
    </div>

    <div class="block">
      <div class="key">课程介绍</div>
      <div class="value textarea">
        <textarea nbInput fullWidth [(ngModel)]="course.briefDescription"
                  placeholder="A JSON description of this course"></textarea>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="footer-buttons">
      <div></div>
      <button nbButton status='primary' hero (click)='addCourse()'>确认</button>
    </div>
  </nb-card-footer>
</nb-card>

