@import 'src/app/style/utils.scss';


nb-card-body {
    .textarea {
        height: 8em;

        textarea {
            height: 100%;
        }
    }

    .block {
        border-bottom: solid 1.5pt #555;
        padding: 0.7em 0em;

        .key {
            padding: 0.5em 0em;
        }
    }

    .block:last-child {
        border-bottom: none;
    }
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

