<h1 id="title" class="title">注册</h1>

<nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages?.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-name">用户名:</label>
    <input nbInput
           [(ngModel)]="user.fullName"
           #fullName="ngModel"
           id="input-name"
           name="fullName"
           placeholder="用户名"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : 'basic'"
           required
           minlength="2"
           maxlength="32"
           [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
    <ng-container *ngIf="fullName.invalid && fullName.touched">
      <p class="caption status-danger" *ngIf="fullName.errors?.required">
      用户名是必须的
      </p>
      <p class="caption status-danger" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
      请输入正确的用户名, 用户名需为2-32字节长
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-phone">手机号码</label>
    <input nbInput
           [(ngModel)]="user.phone"
           #phone="ngModel"
           id="input-phone"
           name="phone"
           pattern=".+@.+..+"
           placeholder="手机号码"
           fullWidth
           fieldSize="large"
           [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : 'basic'"
           required
           [attr.aria-invalid]="phone.invalid && phone.touched ? true : null">
    <ng-container *ngIf="phone.invalid && phone.touched">
      <p class="caption status-danger" *ngIf="phone.errors?.required">
      手机号码是必须的
      </p>
      <p class="caption status-danger" *ngIf="phone.errors?.pattern">
      请输入合法的手机号码
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
      <label class="label" for="input-code">验证码:</label>
      <div class="input-button">
          <input nbInput
                 [(ngModel)]="user.validationCode"
                 #validationCode="ngModel"
                 id="input-validationCode"
                 name="validationCode"
                 pattern="\d{6}"
                 placeholder="验证码"
                 autofocus
                 fullWidth
                 fieldSize="large"
                 [status]="validationCode.dirty ? (validationCode.invalid  ? 'danger' : 'success') : 'basic'"
                 required
                 [attr.aria-invalid]="validationCode.invalid && validationCode.touched ? true : null">

          <button nbButton
                  fullWidth
                  status="primary"
                  size="large"
                  [disabled]="submitted || !phone.valid"
                  [class.btn-pulse]="submitted">
              获取验证码
          </button>
      </div>
      <ng-container *ngIf="validationCode.invalid && validationCode.touched">
          <p class="caption status-danger" *ngIf="validationCode.errors?.required">
          请输入验证码
          </p>
          <p class="caption status-danger" *ngIf="validationCode.errors?.pattern">
          请输入合法的验证码
          </p>
      </ng-container>
  </div>

  <div class="form-control-group">
      <label class="label" for="input-password">密码:</label>
      <input nbInput
             [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           placeholder="密码"
           fullWidth
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           required
           minlength="6"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
      请输入密码
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
      密码的长度至少为6
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">确认密码:</label>
    <input nbInput
           [(ngModel)]="user.confirmPassword"
           #rePass="ngModel"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="确认密码"
           fullWidth
           fieldSize="large"
           [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
           required
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.required">
      请输入确认密码
      </p>
      <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
      确认密码与密码不符
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
      注册
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Sign in">
  已有账号? <a class="text-link" routerLink="../login">登录</a>
</section>

