<ngx-dashboard-header title='班课管理/课程主页'></ngx-dashboard-header>

<nb-card status='info'>
  <nb-card-header>课程信息</nb-card-header>
  <nb-card-body>
    <div class="basic">
      <div>课程名称</div>
      <div>{{ course.courseName }}</div>
      <div>课程号</div>
      <div>{{ course.courseExId }}</div>
      <div>任课老师</div>
      <div>{{ course.Teacher }}</div>
      <div>学生数量</div>
      <div>{{ course.Students.length }}</div>
    </div>

    <div class='brief-description' *ngIf='course.BriefDescription.trim().length > 0'>
      {{ course.BriefDescription }} 
    </div>
  </nb-card-body>

  <nb-card-footer class='footer-buttons'>
    <div class='nav-section'>
      <a nbButton outline status='info' (click)='gotoStudentList()'>学生</a>
      <a nbButton outline status='info' (click)='gotoTaskList()'>任务</a>
      <a nbButton outline status='info' (click)='gotoInfoList()'>通知</a>
      <a nbButton outline status='info' (click)='gotoCheckinList()'>签到</a>
    </div>
    <div></div>
    <button nbButton hero status='primary' (click)='editBasic()'>编辑</button>
  </nb-card-footer>
</nb-card>

<nb-card status='info' id='student-list'>
  <nb-card-header class='header-a'>
    <div id='students'>学生列表</div>
    <app-search-bar (searchenter)='onStudentsEnter($event)'></app-search-bar>
  </nb-card-header>

  <nb-card-body [class]='students.length > 0 ? "" : "record-length-equal-zero"'>
    <nb-list class='students'>
      <nb-list-item>
        <div class="student-name">姓名</div>
        <div class="student-id">学号</div>
        <div class="student-score">经验值</div>
      </nb-list-item>
      <nb-list-item class='data' *ngFor='let student of students; let i = index'>
        <div class="student-name">{{ student.name || student.userName }}</div>
        <div class="student-id">{{ student.studentTeacherId }}</div>
        <div class="student-score">{{ student.score }}</div>
        <div class="take-space"></div>
        <button nbButton hero status='danger' (click)='deleteStudent(i)'>删除</button>
      </nb-list-item>
    </nb-list>
    <div class="empty-state">
      <nb-icon icon='archive-outline'></nb-icon>
      <div class="warning">暂无</div>
    </div>
  </nb-card-body>

  <nb-card-footer class="footer-buttons">
    <div></div>
    <button nbButton hero status='primary' (click)='addStudent()'>添加学生</button>
  </nb-card-footer>
</nb-card>

<nb-card status='info' id='task-list'>
  <nb-card-header class='header-a'>
    <div>任务列表</div>
    <app-search-bar (searchenter)='onTasksEnter($event)'></app-search-bar>
  </nb-card-header>

  <nb-card-body [class]='tasks.length > 0 ? "" : "record-length-equal-zero"'>
    <nb-list class='tasks'>
      <nb-list-item>
        <div class="view"></div>
        <div class="task-title">任务标题</div>
        <div class="release-date">发布时间</div>
        <div class="task-deadline">截止时间</div>
        <div class="take-space"></div>
        <div class="task-content">内容</div>
      </nb-list-item>
      <nb-list-item class='date' *ngFor='let task of tasks; let i=index'>
        <div class="view"><button nbButton status='primary' outline size='medium' (click)='viewTask(i)'>查看</button></div>
        <div class="task-title">{{ task.taskTitle }}</div>
        <div class="release-date">{{ task.releaseDate && task.releaseDate.toLocaleString() }}</div>
        <div class="task-deadline">{{ task.deadline && task.deadline.toLocaleString() }}</div>
        <div class="take-space"></div>
        <div class="task-content">{{ task.Content }}</div>
      </nb-list-item>
    </nb-list>
    <div class="empty-state">
      <nb-icon icon='archive-outline'></nb-icon>
      <div class="warning">暂无</div>
    </div>
  </nb-card-body>

  <nb-card-footer class="footer-buttons">
    <div></div>
    <button nbButton hero status='primary' (click)='assignTask()'>发布任务</button>
  </nb-card-footer>
</nb-card>

<nb-card status='info' id='info-list'>
  <nb-card-header class='header-a'>
    <div>通知列表</div>
    <app-search-bar (searchenter)='onInfosEnter($event)'></app-search-bar>
  </nb-card-header>

  <nb-card-body [class]='infos.length > 0 ? "" : "record-length-equal-zero"'>
    <nb-list class='tasks'>
      <nb-list-item>
        <div class="view"></div>
        <div class="task-title">通知标题</div>
        <div class="release-date">发布时间</div>
        <div class="take-space"></div>
        <div class="task-content">内容</div>
      </nb-list-item>
      <nb-list-item class='date' *ngFor='let task of infos; let i=index'>
        <div class="view"><button nbButton status='primary' outline size='medium' (click)='viewInfo(i)'>查看</button></div>
        <div class="task-title">{{ task.taskTitle }}</div>
        <div class="release-date">{{ task.releaseDate && task.releaseDate.toLocaleString() }}</div>
        <div class="take-space"></div>
        <div class="task-content">{{ task.Content }}</div>
      </nb-list-item>
    </nb-list>
    <div class="empty-state">
      <nb-icon icon='archive-outline'></nb-icon>
      <div class="warning">暂无</div>
    </div>
  </nb-card-body>

  <nb-card-footer class="footer-buttons">
    <div></div>
    <button nbButton hero status='primary' (click)='startInfo()'>发布通知</button>
  </nb-card-footer>
</nb-card>

<nb-card status='info' id='check-in-list'>
  <nb-card-header class='header-a'>
    <div>签到列表</div>
    <app-search-bar (searchenter)='onCheckinsEnter($event)'></app-search-bar>
  </nb-card-header>

  <nb-card-body [class]='checkins.length > 0 ? "" : "record-length-equal-zero"'>
    <nb-list class='checkins'>
      <nb-list-item>
        <div class="view"></div>
        <div class="checkin-type">签到类别</div>
        <div class="release-date">发布时间</div>
        <div class="release-date">截至时间</div>
      </nb-list-item>

      <nb-list-item *ngFor='let checkin of checkins || []; let i=index'>
        <div class="view"><button nbButton status='primary' outline size='medium' (click)='viewCheckin(i)'>查看</button></div>
        <div class="checkin-type">{{ checkin.getType() }}</div>
        <div class="release-date">{{ checkin.releaseDate && checkin.releaseDate.toLocaleString() }}</div>
        <div class="deadline-date">{{ checkin.deadline && checkin.deadline.toLocaleString() }}</div>
      </nb-list-item>
    </nb-list>
    <div class="empty-state">
      <nb-icon icon='archive-outline'></nb-icon>
      <div class="warning">暂无</div>
    </div>
  </nb-card-body>

  <nb-card-footer class="footer-buttons">
    <div></div>
    <button nbButton hero status='primary' (click)='startCheckin()'>发起签到</button>
  </nb-card-footer>
</nb-card>

