@import 'src/app/style/utils.scss';
@import 'src/app/style/table.scss';

.basic {
    display: grid;
    grid-template-columns: 5.5em 45% 5.5em 45%;
    grid-row-gap: 0.8em;
    padding: 0em 0em 1.5em 0.5em;
    box-sizing: border-box;

    @media (max-width: 800px) {
        grid-template-columns: 30% 70%;
    }

    div:nth-child(2n+1) {
        user-select: none;
        color: nb-theme(color-basic-800);
    }
}

.brief-description {
    &:before {
        content: '简介: ';
        padding: 0em 1em;
        color: blue;
    }

    font-size: large;
}

.header-a, .footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.students {
    nb-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.7em 1em;

        &:first-child {
            color: darken(nb-theme(color-primary-500), 20%);
        }

        &.data:hover {
            background: nb-theme(background-basic-color-2);
        }

        .student-name {
            width: 15%;
            min-width: 3em;
        }

        .student-id {
            width: 30%;
            min-width: 6em;
        }

        .take-space {
            flex-grow: 1;
        }
    }
}

@include TableIsEmpty();

