@import 'src/app/style/utils.scss';

nb-card-body {
    @include GridKVTable2('.user-info-list', '.user-info-field', '.user-info-value');

    .user-info-list {
        &.user-secret-info-list {
            padding-top: 2em;
        }

        .phone-number-email {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

