@import 'src/app/style/table.scss';

ngx-dictionary-info {
    .dict-info {
        display: grid;
        grid-template-columns: 3em 42% 3em 42%;
        grid-row-gap: 1em;

        .dict-type-field {
            user-select: none;
        }

        .dict-type-value {
            margin-left: 0.5em;
            color: gray;
        }
    }

    checkbox-editor {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type='checkbox'] {
            width: 1em;
            height: 1em;
        }
    }

    @include TableIsEmpty()
}

