<ngx-dashboard-header title='班课管理/课程列表'></ngx-dashboard-header>

<nb-card status='primary'>
  <nb-card-header>课程列表</nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class='property-name course'>
        <div class="course-name">
          课程名称
        </div>
        <div class="teacher">
          任课老师
        </div>
        <div class="course-id">
          班课号
        </div>
        <div class="brief-description">
          课程简述
        </div>
      </nb-list-item>
      <nb-list-item *ngFor='let course of courses; let i = index;' class='course'>
        <div class="course-name">
          {{ course.courseName }}
        </div>
        <div class="teacher">
          {{ course.teacher }}
        </div>
        <div class="course-id">
          {{ course.courseUID }}
        </div>
        <div class="brief-description">
          {{ course.briefDescription }}
        </div>
        <div class="buttons">
          <div class="take-space"></div>
          <button (click)='gotoCourseDetail(i)' nbButton status='primary' hero>查看</button>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

