<ngx-dashboard-header title='班课管理/课程列表'></ngx-dashboard-header>

<nb-card accent='primary'>
  <nb-card-header>
    课程数量: {{ total || 0 }}
  </nb-card-header>
  <nb-card-body>
    <app-search-bar (searchinput)='onsearchinput($event)' (searchenter)='onsearchenter($event)'></app-search-bar>
  </nb-card-body>
</nb-card>

<nb-card status='primary'>
  <nb-card-header><span>课程列表</span><span *ngIf='issuper'>(管理员)</span></nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item class='property-name course'>
        <div class="course-name">
          课程名称
        </div>
        <div class="teacher">
          任课老师
        </div>
        <div class="course-id">
          班课号
        </div>
        <div class="brief-description">
          课程简述
        </div>
      </nb-list-item>
      <nb-list-item *ngFor='let course of courses | paginate: {
          itemsPerPage: pagesize,
          currentPage: pageno,
          totalItems: total
        }' class='course'>
        <div class="course-name">
          {{ course.courseName }}
        </div>
        <div class="teacher">
          {{ course.Teacher }}
        </div>
        <div class="course-id">
          {{ course.courseExId }}
        </div>
        <div class="brief-description">
          {{ course.BriefDescription }}
        </div>
        <div class="buttons">
          <div class="take-space"></div>
          <button (click)='gotoCourseDetail(course.courseExId)' nbButton status='primary' hero>查看</button>
        </div>
      </nb-list-item>
    </nb-list>

    <div class="pager">
      <pagination-controls 
        (pageChange)="pageno = $event"
        previousLabel="上一页"
        nextLabel="下一页"></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>

