<ngx-dashboard-header title='菜单'></ngx-dashboard-header>

<nb-card status='info'>
  <nb-card-header *ngIf='roleName' class='title'>
    <div class="key">角色</div>
    <div class="value">{{ roleName }}</div>
  </nb-card-header>

  <nb-card-header *ngIf='!roleName' class='title'>
    <div class="value">菜单信息查看</div>
    <div class="take-space"></div>
    <button nbButton status='primary' hero [nbSpinner]='inAdding' nbSpinnerStatus='info' (click)='addRootEntry()'>添加</button>
  </nb-card-header>

  <nb-card-body>
    <ngx-menu-tree *ngFor='let menu of menus' [menu]='menu' [roleName]='roleName'></ngx-menu-tree>
  </nb-card-body>

  <nb-card-footer>
    <div class="item-info">
      <div class="item"><nb-icon icon='menu-outline'></nb-icon> 表示菜单</div>
      <div class="item"><nb-icon icon='book-open-outline'></nb-icon> 表示页面</div>
      <div class="item"><nb-icon icon='radio-button-on-outline'></nb-icon> 表示按钮</div>
    </div>
  </nb-card-footer>
</nb-card>

