
<ngx-dashboard-header [title]='title' #header></ngx-dashboard-header>

<nb-card [class]='inEdit ? "in-edit" : ""'>
    <nb-card-header>
        <nb-user [name]='user?.name || user?.userName'></nb-user>
        <div class="editing-mode">
            <button nbButton status='primary' shape='round' size='tiny' outline>编辑头像</button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="user-info-list">
            <div class="user-info-field">用户名</div>
            <div class="user-info-value">{{ user?.userName }}</div>

            <div class="user-info-field">姓名</div>
            <div class="user-info-value viewing-mode">{{ user?.name }}</div>
            <div class="user-info-value editing-mode">
                <input type="text" [(ngModel)]='updatedUser.name' nbInput fullWidth shape="rectangle" placeholder="姓名">
            </div>

            <div class="user-info-field">角色</div>
            <div class="user-info-value">{{ roles }}</div>

            <div class="user-info-field">性别</div>
            <div class="user-info-value viewing-mode">{{ user?.Gender }}</div>
            <div class="user-info-value editing-mode">
                <nb-select fullWidth [(ngModel)]="updatedUser.gender">
                  <nb-option value="male">男</nb-option>
                  <nb-option value="female">女</nb-option>
                  <nb-option value="unknown">隐藏</nb-option>
                </nb-select>
            </div>

            <div class="user-info-field">出生日期</div>
            <div class="user-info-value viewing-mode">{{ user?.Birthday }}</div>
            <div class="user-info-value editing-mode">
                <input nbInput fullWidth shape="rectangle" [(ngModel)]="birthday"
                       placeholder="出生日期"
                       [nbDatepicker]="datepicker">
                <nb-datepicker #datepicker></nb-datepicker>
            </div>

            <div class="user-info-field">学工号</div>
            <div class="user-info-value viewing-mode">{{ user?.studentTeacherId }}</div>
            <div class="user-info-value editing-mode">
                <input type="text" [(ngModel)]="updatedUser.studentTeacherId" nbInput fullWidth shape="rectangle" placeholder="学工号">
            </div>

            <div class="user-info-field">学校</div>
            <div class="user-info-value viewing-mode">{{ user?.school }}</div>
            <div class="user-info-value editing-mode">
                <input type="text" [(ngModel)]="updatedUser.school" nbInput fullWidth shape="rectangle" placeholder="学校">
            </div>

            <div class="user-info-field">院系</div>
            <div class="user-info-value viewing-mode">{{ user?.college }}</div>
            <div class="user-info-value editing-mode">
                <input type="text" [(ngModel)]="updatedUser.college" nbInput fullWidth shape="rectangle" placeholder="院系">
            </div>

            <div class="user-info-field">专业</div>
            <div class="user-info-value viewing-mode">{{ user?.major }}</div>
            <div class="user-info-value editing-mode">
                <input type="text" [(ngModel)]="updatedUser.major" nbInput fullWidth shape="rectangle" placeholder="专业">
            </div>
        </div>

        <div class="user-info-list user-secret-info-list">
            <div class="user-info-field">手机</div>
            <div class="user-info-value viewing-mode">{{ user?.phone }}</div>
            <div class="user-info-value editing-mode">
                <div class="phone-number-email">
                    <div class="user-info-value">
                      {{ user?.phone }}
                    </div>
                    <button nbButton status='primary' (click)='editPhone()' shape='round' size='tiny' outline>编辑手机号</button>
                </div>
            </div>

            <div class="user-info-field">邮箱</div>
            <div class="user-info-value viewing-mode">{{ user?.email }}</div>
            <div class="user-info-value editing-mode">
                <div class="phone-number-email">
                    <div class="user-info-value">
                      {{ user?.email }}
                    </div>
                    <button nbButton status='primary' (click)='editEmail()' shape='round' size='tiny' outline>编辑邮箱</button>
                </div>
            </div>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <div class="viewing-mode">
            <div class="footer-buttons">
                <button nbButton status='primary' outline (click)='editPassword()'>修改密码</button>
                <button nbButton status='primary' hero (click)='gotoInfoEdit()'>编辑个人信息</button>
            </div>
        </div>

        <div class="editing-mode">
            <div class="footer-buttons">
                <div></div>
                <button nbButton status='primary' hero (click)='gotoInfoView()'>保存</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

