<h1 id="title" class="title">忘记密码</h1>
<p class="sub-title">请输入手机号接受验证码重置密码</p>

<nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages?.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-phone">手机号:</label>
        <input nbInput
               [(ngModel)]="user.phone"
               #phone="ngModel"
               id="input-phone"
               name="phone"
               pattern=".+@.+\..+"
               placeholder="手机号"
               autofocus
               fullWidth
               fieldSize="large"
               [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : 'basic'"
               required
               [attr.aria-invalid]="phone.invalid && phone.touched ? true : null">
        <ng-container *ngIf="phone.invalid && phone.touched">
            <p class="caption status-danger" *ngIf="phone.errors?.required">
            请输入手机号
            </p>
            <p class="caption status-danger" *ngIf="phone.errors?.pattern">
            请输入合法的手机号
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-code">验证码:</label>
        <div class="input-button">
            <input nbInput
                   [(ngModel)]="user.validationCode"
                   #validationCode="ngModel"
                   id="input-validationCode"
                   name="validationCode"
                   pattern="\d{6}"
                   placeholder="验证码"
                   autofocus
                   fullWidth
                   fieldSize="large"
                   [status]="validationCode.dirty ? (validationCode.invalid  ? 'danger' : 'success') : 'basic'"
                   required
                   [attr.aria-invalid]="validationCode.invalid && validationCode.touched ? true : null">

            <button nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    [disabled]="submitted || !phone.valid"
                    [class.btn-pulse]="submitted">
                获取验证码
            </button>
        </div>
        <ng-container *ngIf="validationCode.invalid && validationCode.touched">
            <p class="caption status-danger" *ngIf="validationCode.errors?.required">
            请输入验证码
            </p>
            <p class="caption status-danger" *ngIf="validationCode.errors?.pattern">
            请输入合法的验证码
            </p>
        </ng-container>
    </div>


    <button nbButton
            fullWidth
            status="primary"
            size="large"
            [disabled]="submitted || !requestPassForm.valid"
            [class.btn-pulse]="submitted">
        确认重置
    </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="../login">登录</a></p>
    <p><a routerLink="../signup" class="text-link">注册</a></p>
</section>
